@(twitterAccount: Option[String])
@scripts = {}
@main("Contribution", twitterAccount) {
@**
<form ng-submit="doCreate()" ng-controller="IdeaCreateCtrl">
    Enter text and hit enter:
    <input type="text" ng-model="idea.content"/>
    <input type="submit" id="doCreate" value="Submit"/>
</form>
**@
<div ng-app="IdeaCreateApp" ng-controller="IdeaCreateCtrl" data-ng-init="init()">
    <form method="post" role="form" name="idea" ng-submit="doCreate('@twitterAccount.get')">
        <div class="form-group">
            <label for="content">アイデアの内容</label><br/>
            <textarea class="form-control" rows="5" ng-model="idea.content" require></textarea>
            <span class="error" ng-show="idea.content.$error.required">必須</span>
        </div>
        <input type="submit" id="submit" class="btn btn-default" ng-disabled="idea.$invalid" value="投稿する">
    </form>

    @** message **@
    <p>{{errorMessage}}</p>
    <p class="bg-success">{{successMessage}}</p>

    <div class="row">

        <div class="col-md-6">
            <h3>Ideas <span class="label label-success">Own</span></h3>
            <div class="panel panel-default" ng-repeat="idea in ideas | filter: '@twitterAccount.get' | orderBy: idea.id">
                <div class="panel-body">
                    {{idea.content}}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h3>Ideas <span class="label label-info">The Others</span></h3>
            <div class="panel panel-primary" ng-repeat="idea in ideas | filter: '!@twitterAccount.get'">
                <div class="panel-heading">
                    @@{{idea.twitterAccount}}
                </div>
                <div class="panel-body">
                    {{idea.content}}
                </div>
                <div class="panel-footer">
                    @** comment の投稿 **@
                    <input type="text" placeholder="comment">
                    <button>comment</button>
                </div>
            </div>
        </div>

    </div>
</div>
}
